/**
 *设置非禁用状态下不同状态的background-color或者color
 */
@mixin set-different-states-color($type, $lightness, $attr: background-color) {
  &:not(:disabled) {
    #{$attr}: var(--ia-#{$type});
  }
  &:not(:disabled):hover{
    #{$attr}: var(--ia-color-#{$type}-#{$lightness});
  }
  &:not(:disabled):active{
    #{$attr}: var(--ia-color-#{$type}-#{$lightness + 5}); // 点击时的亮度是在hover时亮度的基础上+5
  }
}

:host {
  display: inline-block;
}
button{
  width: 100%;
  outline: none;
  transition: background-color .3s;
  color: #fff;
  height: s(44, var(--scope-sale-size));
  line-height: s(44, var(--scope-sale-size));
  padding: 0 s(20, var(--scope-sale-size));
  font-size: s(16, var(--scope-sale-size));
  @include set_size;
  &:not([class*=plain]){
    border: none;
  }
  &:disabled{
    cursor: not-allowed;
    &[class$=text]{
      background-color: transparent;
      color: var(--ia-disabled)!important;
    }
    &:not([class$=text]){
      border-color: #fff!important;
      background-color: var(--ia-disabled);
      color: #fff!important;
    }
  }
  &:not(:disabled){
    cursor: pointer;
    &[class$=text]{
      background-color: inherit;
    }
  }
  &.round{
    border-radius: s(22, var(--scope-sale-size));
  }
  &:not(.round){
    border-radius: s(6, var(--scope-sale-size));
  }
}

@include b(ia-button){
  @include m(primary){
    @include set-different-states-color(primary, 55);
  }
  @include m(success){
    @include set-different-states-color(success, 35);
  }
  @include m(warning){
    @include set-different-states-color(warning, 75);
  }
  @include m(error){
    @include set-different-states-color(error, 65);
  }
  @include m(info){
    @include set-different-states-color(info, 40);
  }
  @include m(text){
    @include set-different-states-color(primary, 55, color);
  }
  @include m(plain){
    background-color: transparent;
    border: 1px solid;
    @include set-different-states-color(primary, 55, color);
    @include set-different-states-color(primary, 55, border-color);
  }
}
@keyframes spinner{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
.loading-spinner{
  width: s(14, var(--scope-sale-size));
  height: s(14, var(--scope-sale-size));
  vertical-align: middle;
  margin-right: s(10, var(--scope-sale-size));
  animation: spinner 0.8s infinite linear;
}