@keyframes mask{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes from-top{
  0%{
    transform: translateY(-10px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes from-bottom{
  0%{
    transform: translateY(50%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes from-left{
  0%{
    transform: translateX(-50%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes from-right{
  0%{
    transform: translateX(50%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@mixin register_transtion($directions...) {
  @each $direction in $directions {
    &.#{$direction}{
      &.showing{
        animation: $direction 0.3s;
      }
      &.closing{
        animation: $direction 0.3s reverse forwards;
      }
    }
  }
}
.wrapper{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  &.justify{
    &__start{
      justify-content: flex-start;
    }
    &__center{
      justify-content: center;
    }
    &__end{
      justify-content: flex-end;
    }
  }
  &.align{
    &__top{
      align-items: flex-start;
    }
    &__middle{
      align-items: center;
    }
    &__bottom{
      align-items: flex-end;
    }
  }
}
.mask{
  background-color: rgba(#000, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &.showing{
    animation: mask 0.2s;
  }
  &.closing{
    animation: mask 0.2s reverse 0.1s;
  }
}
.main{
  position: relative;
  @include register_transtion(from-top,from-bottom,from-left,from-right);
}